.background {
    background-color: white;
    padding: 100px;
    align-items: center;
    width: 50%;
  }
  .container {
    background-color: white;
    text-align: center;
    color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center;
    width: 50%;
  }
   .button{
      background-color: #F7C548;
     color: solid black;
     width: 250px;
     padding: 5px;
    }
  .button2{
    background-color: #E7E9EC;
    color: solid black;
    width: 250px;
    padding: 5px;
  }
    .inner {
    background-color: white;
    color: black;
    flex-wrap: wrap;
    border: 1px solid black;
    
  }    
  .container2{
    background-color: white;
    color: black;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .footer{
    color: blue;
    display: flex;
    align-items: center;
    justify-content: space-around
  }
  .p{
    color: blue;
  }
  
  