body {
    text-align: center;
}
.container {
    background-color: white;
    padding: 20px;
    width: 20%;
    border: 1px solid black;
    margin-left: 39%;
  }
  .button1 {
    background-color: #F7C548;
     color: solid black;
     width: 250px;
     padding: 5px;
  }
  .inner2 {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-left: 20%;
  }
  .inner2 > p2 {
    color: blue;
  }
  .inner4 > p {
    color: blue;
  }
  .inner5 > p {
    color: #333642;
  }
  .button2 {
    background-color: #E7E9EC;
    color: solid black;
    width: 250px;
    padding: 5px;
  }
  .button2box {
    padding: 20px;
  }
  .enterfield {
    width: 250px;
    padding: 5px;
  }
  .footer {
    color: blue;
    display: flex;
    align-items: center;
    justify-content: space-around
  }
  .copyright {
    display: flex;
    align-items: center;
    margin-left: 43%;
  }